<!DOCTYPE html>
<html>
  <head>
    <title>Etudenote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  </head>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

  <body>
  <header>
  
  <h1>Etudenote</h1>
  <div class="header-list">
  <ul>
    <li><%= link_to "ホーム", posts_path %></li>
    <li><%= link_to "新規投稿",posts_new_path %></li>
  </ul>
  </div>
</header>
<main>
  <%= yield %>
</main>
<br>
<footer>
     <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
    </body>
</html>